@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Roboto:wght@100;300;400&display=swap');

body {
background-color: #2F394D
};

$main-font: 'Roboto', sans-serif;
$second-font: 'Gideon Roman', cursive;
$main-color: #fff;

